::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    max-height: 100vh; /* 確保內容區域撐滿螢幕高度 */
    display: flex;
}

.main {

    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #F2F2F7;
    display: flex;
    
}


body {
    font-family: 'Noto Sans TC', sans-serif;
    font-style: normal;
    /* font-weight: 400; */
    height: 100%;

}

.container{
    width: 95%;
    height: 100%;
    border-right: 0.2rem solid rgba(229, 229, 234, 1);
    margin-bottom: 1rem;
    z-index: 5;
}

.button-style {

    display: flex;
    margin-left: 5%;
    width: 100%;
    height: 5rem;
    background-color: transparent;
    border-color: transparent;
    border: 0;
    align-items: center;
    outline: none;
    /* position: relative;
    left: 5%; */
}


.button-style:hover span{
    z-index: 3;
    font-weight : bold;
    color : #8665cd;
    
}

.button-style:hover{
    z-index: 3;
    border-right: 3px solid #8665cd;
}

.btns .button-style:hover svg circle,
.btns .button-style:hover svg path,
.btns .button-style:hover svg rect{
    stroke-linejoin: round;
    stroke: #8665cd;
}

.summary{
    padding-left:1rem;
    display: flex;
}

.btns {
    z-index: 1;
    /* margin-top: 1rem; */
    /* margin-left: 1.2rem; */
    /* margin-right: 1.2rem; */
    /* border-right: 300% ;  */
    width: 105%;
    display: flex;
}
.footer {
    z-index: 1;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    border-left: 3rem ; 
    width: 25.5rem;
    display: flex;

}

.left-side-bar{

    display: flex;
    flex-direction: column;

    width: 25%;
    margin: .5rem 1rem;

    background-color: transparent;

}

.course-selection {
    width: 100%;
    position: relative;
    border-radius: 8px;
    background-color: #9879da;
    height: 14rem;
    transform-origin: 0 0;
    /* margin: 3rem;; */
}
.course-selection .footer{
    height : 4rem;
    width: 100%;
}

.course-select{
    display: flex;
    width: 87%; 
    height: 4.5rem; 
    padding: 5% 10% 5% 10% ; 
    font-size:1.3rem;
    border: none;
    border-radius: 8px;
    align-items: center;
    background: var(--pri_white, #FFF);
    margin: 0rem 1.6rem 0rem 1.25rem;
    color:grey;
    background-image: url("../images/student_feedback/down.svg") ;
    background-repeat: no-repeat;
    background-position:95%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}


.footer .book-icon {

    background: url("../images/student_discussion/student_discussion_book-icon.svg") no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;

    width: 2.5rem; height: 2.5rem;
    margin: 0.5rem 0.5rem;
}


.footer .intro {

    color: var(--pri_white, #FFF);
    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    padding-left: 1%;

    font-family: "Noto Sans TC";
    font-size: 1.46rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; 
    letter-spacing: 1px;

}

.select-course {
    padding-top: 1.9rem;
    height: 100%;
    width: 110%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
}





.main-content{
    padding: 2rem 2rem 0 2rem ;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* height: 98.6%;  */
    background-color: rgb(255, 255, 255);
    width:100%;
    /* max-height: 663.375px; */
    display: flex;
    flex-direction: column;
    border-radius: 1rem 1rem 1rem 0rem;
}
.main-content h2{
    font-family: 'Noto Sans TC';
    color: #502f96;
    font-weight : bold;
    font-size: 1.9rem;
}

.main-content p,
.main-content p span{
    font-family: 'Noto Sans TC';
    color: #8e8e93;
    font-size: 1.46rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
/* 
.header h1 {
    font-size: 1.5rem;
    color: #5a3f9e;
} */

.date-selector {
    display: flex;
    align-items: center;
}

.date-selector p {
    size: 1.46rem;
    color: #606266;
    
    margin-right: 5px;
}

.date-selector input {
    border-radius: 2px;
    width: 40px;
    height: 22px;
    border-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 5px;
}

.search-icon{
    position: relative;
    top: -.5rem;
    background-color: transparent;
    border: 0px;
}


.chart-section {
    background-color: #f7f8fa;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    height: 25%;
}

.chart-header.A{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    font-size: 1.46rem;
    font-weight: bold;
    color: #6c757d;
}
.chart-header.B{
    /* display: flex; */
    /* justify-content: space-between; */
    /* margin-bottom: 10px; */
    width: 30%;
    font-size: 1.46rem;
    font-weight: bold;
    color: #6c757d;
}

.chart-header .average, .chart-header .percentage {
    font-weight: normal;
    
}

.chart-header .percentage {
    visibility: hidden;
    
}


.chart-header .percentage {
    /* position: relative;
    right: 65rem;
    top: 5rem; */
    width: 30%;
    height: 20%;
    font-weight: bold;
    font-size: 2.5rem;
    color: #000000;
}

.percentage .increase {
    color: #0DBD09;
    background-color: #F0FFF0;
    border-radius: 100px;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.chart-size{
    position: relative;
    bottom: 3.5rem;
    left: 11rem;
}
.chart-size.B{
    position: relative;
    
    bottom: 6rem;
    left: 11rem;
}




.comments-section {
    display: flex;
    height: 30%;
    gap: 20px;
    background-color: #f7f8fa;
    border-radius: 8px;
}

.comments-section .sep{
    margin-top: 3.5%;

    width: 1px;
    height: 70%;
    background-color: #E5E5EA;
}


.comment-box {
    /* max-height: 192px;  */
    flex: 1;
    background-color: #f7f8fa;
    padding: 15px;
    border-radius: 8px;
}

.comment-box .title {
    color: #8665CD;
    font-weight: bold;
    size: 1.46rem;
    /* margin-bottom: 5px; */
}

.comment-box .content {
    
    font-size: 1.46rem;
    margin-top: 5rem;
    margin-left: 15rem;
    color: #8E8E93;
    /* color: #363636; */
    
}

p.content{
    max-height: 125px; 
    overflow-y: auto; 
    scrollbar-width: none;

}